@font-face {
    font-family: 'LondrinaSolid-Black';
    src: url('../../fonts/LondrinaSolid-Black.ttf');
}

@font-face {
    font-family: 'LondrinaSolid-Thin';
    src: url('../../fonts/LondrinaSolid-Thin.ttf');
}

@font-face {
    font-family: 'LondrinaSolid';
    src: url('../../fonts/LondrinaSolid-Regular.ttf');
}

@font-face {
    font-family: 'LondrinaSolid-Light';
    src: url('../../fonts/LondrinaSolid-Light.ttf');
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('../../fonts/RobotoMono-Medium.ttf');
}